@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Конвертер изображений";
}

<div class="upload-container">
    <h1 style="margin-bottom: 25px">Drop or Choose Image</h1>

    <form id="uploadForm">
        <div class="dropzone" id="dropzone">
            <input type="file" id="fileInput" name="imageFile" accept="image/png" />
            <img src="images/png-icon.svg" alt="png-icon" id="png-ico"/>
        </div>
        <button type="submit" class="btn">Cut</button>

        <div class="progress-container">
            <div id="progress-bar" class="progress-bar"></div>
        </div>
    </form>

    @if (ViewBag.Message != null)
    {
        <div class="result-message">
            <p>@ViewBag.Message</p>
        </div>
    }
</div>

@section Scripts {
    <script>
        const dropzone = document.getElementById('dropzone');
        const fileInput = document.getElementById('fileInput');

        dropzone.addEventListener('click', () => fileInput.click());
        dropzone.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropzone.classList.add('dragover');
        });
        dropzone.addEventListener('dragleave', () => {
            dropzone.classList.remove('dragover');
        });
        dropzone.addEventListener('drop', (e) => {
            e.preventDefault();
            dropzone.classList.remove('dragover');
            fileInput.files = e.dataTransfer.files;
        });

        window.addEventListener("DOMContentLoaded", () => {
            if (window.initSocketHandler) initSocketHandler();
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.0/jszip.min.js" asp-append-version="true"></script>
    <script src="js/ws-handler.js" asp-append-version="true"></script>
}
